:root {
  --ud-background-color: #1a2b49;
  --ud-background-color-dark: #101929;
  --ud-text-color: #fff;
  --ud-accent-color: #FF7F5C;
  --ud-primary-color-light: #00FFFF;
  --ud-primary-color: #00FFCF;
  --ud-primary-color-dark: #3bd1bb;
  --ud-secondary-color: #6397eb;
  --ud-secondary-color-dark: #428CFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primary;
  }
  a:visited {
    @apply text-primary-light;
  }
}
