---
layout: layouts/home.njk
---

<section class="mt-4 mb-12">
  <p class="font-headline font-bold text-4xl">{{ metadata.author.name }}</p>
  <p class="font-headline text-2xl text-accent mb-4">{{ metadata.role }}</p>
  <p class="text-lg max-w-prose">{{ metadata.description }}</p>
</section>

<h1 class="font-headline font-bold text-4xl mb-4">Hottest Projs:</h1>

{% set projectslist = collections.projects | sortByOrder %}
{% include "projectslist.njk" %}
