---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<p class="font-extralight italic text-2xl text-accent mb-8">{{ metadata.description }}</p>

<h1 class="font-headline font-bold text-4xl mb-4">Hottest 3 Projs:</h1>

{% set projectslist = collections.projects | head(-3) %}
{% include "projectslist.njk" %}
