---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - projects
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1 class="font-headline font-bold text-4xl mb-4">Tagged “{{ tag }}”</h1>

{% set projectslist = collections[ tag ] %}
{% include "projectslist.njk" %}

<p class="mt-4">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
