---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="inline-block uppercase align-text-top bg-accent text-text visited:text-text text-xs px-1 py-0.5 ml-3 rounded-sm">{{ tag }}</a>
{% endfor %}
