<ul class="flex flex-wrap gap-x-6 gap-y-2 font-headline">
  <li><a href="mailto:{{ metadata.author.email }}" class="hover:underline">Email</a></li>
  <li><a href="{{ metadata.author.linkedin }}" rel="me" class="hover:underline">LinkedIn</a></li>
  <li><a href="{{ metadata.author.github }}" rel="me" class="hover:underline">GitHub</a></li>
  <li><a href="{{ metadata.resume | url }}" class="hover:underline">Resume (PDF)</a></li>
</ul>
