<ol class="postlist">
{% for project in projectslist %}
  <li class="postlist-item">
    <span class="text-sm text-secondary">{{ ('0' if loop.index < 10 else '') + loop.index + '.'}}</span>
    <a href="{{ project.url | url }}" class="postlist-link inline-block p-1 text-xl font-bold hover:underline">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ol>
