---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="max-w-[720px] mx-auto">
  <h1 class="font-headline font-bold text-4xl mb-8">{{ title }}</h1>

  <div class="prose">{{ content | safe }}</div>

  <p class="font-headline mt-16"><a href="{{ '/' | url }}" class="link-underline">← Home</a></p>
</article>
