---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="ud-font-headline">{{ title }}</h1>

{{ content | safe }}

<p>aaaaand, <a href="{{ 'https://www.buymeacoffee.com/Urtropedesigns' | url }}">buymeacoffee</a></p>

<p class="ud-font-headline"><a href="{{ '/' | url }}">← Home</a></p>
