---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="font-headline text-4xl mb-6">{{ title }}</h1>

<div class="mb-4 prose">{{ content | safe }}</div>

<p class="mb-4">aaaaand, <a href="{{ 'https://www.buymeacoffee.com/Urtropedesigns' | url }}">buymeacoffee</a></p>

<p class="font-headline"><a href="{{ '/' | url }}">← Home</a></p>
